#title {
  text-align: center;
}
.container {
  text-align: center;
  margin: 5rem;
}
h1 {
  color: var(--mat-sys-primary);
}
.suit {  
  padding: 5rem;
}
.missions {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  & > * {
    flex: 0 2 calc(25% - 0.75rem);
  }
}