<div class="mission-container">
  <div class="text-container">
    <h4>{{ planet.name }}</h4>
    @if (details|async; as detail) {
    <div class="details">
      <b>Climat : </b><span>{{ detail.result.properties.climate }}</span><br>
      <b>Diamètre : </b><span>{{ detail.result.properties.diameter }} km</span><br>
      <b>Type : </b><span>{{ detail.result.properties.terrain }}</span><br>
      <b>Gravité : </b><span>{{ detail.result.properties.gravity }}</span><br>
      <b>Population : </b><span>{{ detail.result.properties.population }}</span><br>
    </div>
    }
    <mat-checkbox [checked]="isSelected()" (click)="emitSelected()">Sélectionner la planète</mat-checkbox>
  </div>
</div>