.status-operational,
.status-active {
  .s6 {
    fill: var(--green);
  }
}

.status-maintenance {
  .s6 {
    fill: var(--orange);
  }
}

.status-outoforder {
  .s6 {
    fill: var(--red);
  }
}
.status-low-battery {
  #batterie {
    fill: rgb(92, 94, 23);
    animation: blink 1s ease 0s infinite;
  }
}

.status-low-oxygen {
  #oxygen {
    fill: rgb(22, 30, 78);    
    animation: blink 1s ease 0s infinite;
  }
}

@keyframes blink {
  50% {
    fill: rgba(0, 0, 0, 0);
  }
}
